﻿html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

form{
    height:100%;
    width:100%;
}

#view-office {
    width: 100%;
    height: 100%;
}

.header-office {
    height: 30px;
    line-height: 30px;
    -webkit-box-shadow: 0px 1px 3px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 1px 3px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 1px 3px rgba(50, 50, 50, 0.75);
    background-image: url(/Content/images/viewfile/texture.png), linear-gradient(rgba(69, 69, 69, .95), rgba(82, 82, 82, .99));
    background-image: url(/Content/images/viewfile/texture.png), -webkit-linear-gradient(rgba(69, 69, 69, .95), rgba(82, 82, 82, .99));
    background-image: url(/Content/images/viewfile/texture.png), -moz-linear-gradient(rgba(69, 69, 69, .95), rgba(82, 82, 82, .99));
    background-image: url(/Content/images/viewfile/texture.png), -ms-linear-gradient(rgba(69, 69, 69, .95), rgba(82, 82, 82, .99));
    background-image: url(/Content/images/viewfile/texture.png), -o-linear-gradient(rgba(69, 69, 69, .95), rgba(82, 82, 82, .99));
}

.office-left {
    width: 85%;
    float: left;
    height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.office-right {
    width: 15%;
    float: right;
    height: 30px;
}

#name-office {
    font-weight: bold;
    font-size: 14px;
    padding-left: 10px;
    color: #F2F2F2;
}

.ic-fullscreen {
    float: right;
    height: 100%;
    cursor: pointer;
    margin-right: 10px;
}

    .ic-fullscreen img {
        height: 60%;
        margin: 30% 0 0 0;
    }

.ic-download {
    float: right;
    height: 100%;
    cursor: pointer;
    margin-right: 10px;
}

    .ic-download img {
        height: 65%;
        margin: 20% 10% 0 0;
    }

.ic-zoom {
    float: right;
    height: 100%;
    cursor: pointer;
    margin-right: 10px;
}

    .ic-zoom img {
        height: 65%;
        margin: 20% 10% 0 0;
    }

.ifrView {
    border: none;
    width: 100%;
    height: 100%;
    background-color: white;
}


.footer-office {
    height: 30px;
    line-height: 30px;
    -webkit-box-shadow: 0px -1px 3px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px -1px 3px rgba(50, 50, 50, 0.75);
    box-shadow: 0px -1px 3px rgba(50, 50, 50, 0.75);
    background-image: url(/Content/images/viewfile/texture.png), linear-gradient(rgba(82, 82, 82, .99), rgba(69, 69, 69, .95));
    background-image: url(/Content/images/viewfile/texture.png), -webkit-linear-gradient(rgba(82, 82, 82, .99), rgba(69, 69, 69, .95));
    background-image: url(/Content/images/viewfile/texture.png), -moz-linear-gradient(rgba(82, 82, 82, .99), rgba(69, 69, 69, .95));
    background-image: url(/Content/images/viewfile/texture.png), -ms-linear-gradient(rgba(82, 82, 82, .99), rgba(69, 69, 69, .95));
    background-image: url(/Content/images/viewfile/texture.png), -o-linear-gradient(rgba(82, 82, 82, .99), rgba(69, 69, 69, .95));
}

.main-office {
    background-color: #888;
    position: relative;
    text-align: center;
}

#ifrView::-webkit-scrollbar {
    width: 0px;
}

.left-footer-office {
    width: 30%;
    float: left;
}

.mid-footer-office {
    width: 40%;
    height: 100%;
    float: left;
}

.right-footer-office {
    width: 30%;
    float: left;
}

.about-office {
    float: right;
    font-weight: bold;
    font-size: 18px;
    padding-right: 10px;
    color: #F2F2F2;
}


/*Zoom*/
.zoom-toolbar {
    width: 46%;
    float: left;
    height: 100%;
    padding-right: 1%;
          
}
.zoom-gr{
        
        padding-top:3px;
        width: 61px;
        float: right;
    }
.zoom-button:first-child {
        position: relative;
        margin: 0;
       
        margin-right: -1px;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        border-right-color: transparent;
    }

.zoom-button:last-child {
        position: relative;
        margin: 0;
        margin-left: -1px;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        border-left-color: transparent;
    }

.zoom-button:hover{
    background-color: hsla(0,0%,0%,.2);
    box-shadow: 0 1px 0 hsla(0,0%,100%,.05) inset,0 0 1px hsla(0,0%,100%,.15) inset,0 0 1px hsla(0,0%,0%,.05);
    z-index: 199;
}
.zoom-gr:hover .zoom-button{
    background-color: hsla(0,0%,0%,.12);
    background-image: -webkit-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,100%,0));
    background-image: -moz-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,100%,0));
    background-image: -ms-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,100%,0));
    background-image: -o-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,100%,0));
    background-image: linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,100%,0));
    background-clip: padding-box;
    border: 1px solid hsla(0,0%,0%,.35);
    border-color: hsla(0,0%,0%,.32) hsla(0,0%,0%,.38) hsla(0,0%,0%,.42);
    box-shadow: 0 1px 0 hsla(0,0%,100%,.05) inset,0 0 1px hsla(0,0%,100%,.15) inset,0 1px 0 hsla(0,0%,100%,.05);
    -webkit-transition-property: background-color, border-color, box-shadow;
    -webkit-transition-duration: 150ms;
    -webkit-transition-timing-function: ease;
    -moz-transition-property: background-color, border-color, box-shadow;
    -moz-transition-duration: 150ms;
    -moz-transition-timing-function: ease;
    -ms-transition-property: background-color, border-color, box-shadow;
    -ms-transition-duration: 150ms;
    -ms-transition-timing-function: ease;
    -o-transition-property: background-color, border-color, box-shadow;
    -o-transition-duration: 150ms;
    -o-transition-timing-function: ease;
    transition-property: background-color, border-color, box-shadow;
    transition-duration: 150ms;
    transition-timing-function: ease;
}
.zoom-gr:hover>.zoom-split{
    background-color:transparent;
}

.zoom-button {
    float: right;
    border-color:transparent;
    background-color: transparent;
    width: 16px;
    height:18px;
    cursor:pointer;
    padding: 2px 6px 2px;
    border: 1px solid transparent;
    border-radius: 2px;
    color: hsl(0,0%,95%);
    font-size: 12px;
    line-height: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    
    -webkit-transition-property: background-color, border-color, box-shadow;
    -webkit-transition-duration: 150ms;
    -webkit-transition-timing-function: ease;
    -moz-transition-property: background-color, border-color, box-shadow;
    -moz-transition-duration: 150ms;
    -moz-transition-timing-function: ease;
    -ms-transition-property: background-color, border-color, box-shadow;
    -ms-transition-duration: 150ms;
    -ms-transition-timing-function: ease;
    -o-transition-property: background-color, border-color, box-shadow;
    -o-transition-duration: 150ms;
    -o-transition-timing-function: ease;
    transition-property: background-color, border-color, box-shadow;
    transition-duration: 150ms;
    transition-timing-function: ease;
}

.zoom-split{
    float:right;
    padding: 8px 0;
    width: 1px;
    background-color: hsla(0,0%,00%,.5);
    z-index: 99;
    box-shadow: 0 0 0 1px hsla(0,0%,100%,.08);
    display: inline-block;
    margin: 4px 0;
}
.zoom-button.zoom-out::before{
    display: inline-block;
    content: url(/Content/images/viewfile/zoomOut.png);
}
.zoom-button.zoom-in::before{
    display: inline-block;
    content: url(/Content/images/viewfile/zoomIn.png);
}

.zoom-dropdown {
    width: 48%;
    float: left;
    height: 100%;
    padding-left: 1%;
}
.zoom-drd{
    overflow: hidden;
    background: url(/Content/images/viewfile/menuArrows.png) no-repeat;
    background-position: 90px;
    width:100px;
    height:22px;
    background-color:transparent;
    margin-top: 3px;
    border: 1px solid hsla(0,0%,0%,.2);
    border-radius: 2px;
    color: hsl(0,0%,95%);
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: default;
    -webkit-transition-property: background-color, border-color, box-shadow;
    -webkit-transition-duration: 150ms;
    -webkit-transition-timing-function: ease;
    -moz-transition-property: background-color, border-color, box-shadow;
    -moz-transition-duration: 150ms;
    -moz-transition-timing-function: ease;
    -ms-transition-property: background-color, border-color, box-shadow;
    -ms-transition-duration: 150ms;
    -ms-transition-timing-function: ease;
    -o-transition-property: background-color, border-color, box-shadow;
    -o-transition-duration: 150ms;
    -o-transition-timing-function: ease;
    transition-property: background-color, border-color, box-shadow;
    transition-duration: 150ms;
    transition-timing-function: ease;
}
.zoom-drd:hover{
    background-color: hsla(0,0%,0%,.2);
    box-shadow: 0 1px 0 hsla(0,0%,100%,.05) inset,0 0 1px hsla(0,0%,100%,.15) inset,0 0 1px hsla(0,0%,0%,.05);
    z-index: 199;
}
.zoom-select {
    float: left;
    width:100%;
    cursor:pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 12px;
    color: hsl(0,0%,95%);
    margin: 4px 0 0 0;
    padding: 0 0 0 4px;
    border: none;
    background-color:transparent;
}
.zoom-select>option{
    background: hsl(0,0%,24%);
}

@media (max-width:480px) {
    .office-left {
        width: 65% !important;
    }

    .office-right {
        width: 35% !important;
    }

    /*.left-footer-office {
        width: 40%;
    }

    .mid-footer-office {
        width: 60%;
    }

    .right-footer-office {
        display: none;
    }*/

    .zoom-toolbar {
        width: 38%;
    }

    .zoom-dropdown {
        width: 55%;
    }
}

@media (max-width:768px) {
    .office-left {
        width: 80%;
    }

    .office-right {
        width: 20%;
    }
}
